<h1>Listing static_responses</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @static_responses.each do |static_response| %>
  <tr>
    <td><%= static_response.name %></td>
    <td><%= static_response.body %></td>
    <td><%= link_to 'Show', static_response %></td>
    <td><%= link_to 'Edit', edit_static_response_path(static_response) %></td>
    <td><%= link_to 'Destroy', static_response, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Static response', new_static_response_path %>
